<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8">
<title>{% block title %}后台管理{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="description">
<meta content="" name="keywords">
<meta content="" name="author">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="{{STATIC}}css/bootstrap.min.css" rel="stylesheet">
<link href="{{STATIC}}font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="{{APPSTATIC}}opensans/opensans.css" rel="stylesheet">
<link href="{{APPSTATIC}}plugins/uniform/css/uniform.default.css" rel="stylesheet">
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="{{APPSTATIC}}admin/css/style-metronic.css" rel="stylesheet">
<link href="{{APPSTATIC}}admin/css/style.css" rel="stylesheet">
<link href="{{APPSTATIC}}admin/css/style-responsive.css" rel="stylesheet">
<link href="{{APPSTATIC}}admin/css/plugins.css" rel="stylesheet">
<link href="{{APPSTATIC}}admin/css/themes/default.css" rel="stylesheet" id="style_color">
<link href="{{APPSTATIC}}admin/css/custom.css" rel="stylesheet">
{% block css %}{% endblock %}
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="{{APPSTATIC}}favicon.ico">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-fixed-top">
	<!-- BEGIN TOP NAVIGATION BAR -->
	<div class="header-inner">
		<!-- BEGIN LOGO -->
		<a class="navbar-brand" href="index.html">
			<img src="{{APPSTATIC}}admin/img/logo.png" alt="logo" class="img-responsive">
		</a>
		<!-- END LOGO -->
		<!-- RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<img src="{{APPSTATIC}}admin/img/menu-toggler.png" alt="">
		</a>
		<!-- BEGIN TOP NAVIGATION MENU -->
		<ul class="nav navbar-nav pull-right">
			<!-- BEGIN NOTIFICATION DROPDOWN -->
			<li class="dropdown" id="header_notification_bar">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-warning"></i>
					<span class="badge">1</span>
				</a>
				<ul class="dropdown-menu extended notification">
					<li>
						<p>You have 14 new notifications</p>
					</li>
					<li>
						<ul class="dropdown-menu-list scroller" style="height: 250px;">
							<li>
								<a href="#">
									<span class="label label-icon label-success">
										<i class="fa fa-plus"></i>
									</span>
									 New user registered.
									<span class="time">
										 Just now
									</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="external">
						<a href="#">
							 See all notifications <i class="m-icon-swapright"></i>
						</a>
					</li>
				</ul>
			</li>
			<!-- END NOTIFICATION DROPDOWN -->
			<!-- BEGIN INBOX DROPDOWN -->
			<li class="dropdown" id="header_inbox_bar">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-envelope"></i>
					<span class="badge">2</span>
				</a>
				<ul class="dropdown-menu extended inbox">
					<li>
						<p>
							 You have 12 new messages
						</p>
					</li>
					<li>
						<ul class="dropdown-menu-list scroller" style="height: 250px;">
							<li>
								<a href="inbox.html?a=view">
									<span class="photo">
										<img src="{{APPSTATIC}}admin/img/avatar2.jpg" alt="">
									</span>
									<span class="subject">
										<span class="from">
											 Lisa Wong
										</span>
										<span class="time">
											 Just Now
										</span>
									</span>
									<span class="message">
										 Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh...
									</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="external">
						<a href="inbox.html">
							 See all messages <i class="m-icon-swapright"></i>
						</a>
					</li>
				</ul>
			</li>
			<!-- END INBOX DROPDOWN -->
			<!-- BEGIN TODO DROPDOWN -->
			<li class="dropdown" id="header_task_bar">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-tasks"></i>
					<span class="badge">3</span>
				</a>
				<ul class="dropdown-menu extended tasks">
					<li>
						<p>
							 You have 12 pending tasks
						</p>
					</li>
					<li>
						<ul class="dropdown-menu-list scroller" style="height: 250px;">
							<li>
								<a href="#">
									<span class="task">
										<span class="desc"> New release v1.2 </span>
										<span class="percent"> 30% </span>
									</span>
									<span class="progress">
										<span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
											<span class="sr-only"> 40% Complete </span>
										</span>
									</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="external">
						<a href="#"> See all tasks <i class="m-icon-swapright"></i> </a>
					</li>
				</ul>
			</li>
			<!-- END TODO DROPDOWN -->
			<!-- BEGIN USER LOGIN DROPDOWN -->
			<li class="dropdown user">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<img alt="" src="{{APPSTATIC}}admin/img/avatar1_small.jpg">
					<span class="username"> Bob Nilson </span>
					<i class="fa fa-angle-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="extra_profile.html">
							<i class="fa fa-user"></i> My Profile
						</a>
					</li>
					<li>
						<a href="inbox.html">
							<i class="fa fa-envelope"></i> My Inbox
							<span class="badge badge-danger">
								 3
							</span>
						</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="javascript:;" id="trigger_fullscreen">
							<i class="fa fa-arrows"></i> Full Screen
						</a>
					</li>
					<li>
						<a href="logout.html">
							<i class="fa fa-key"></i> Log Out
						</a>
					</li>
				</ul>
			</li>
			<!-- END USER LOGIN DROPDOWN -->
		</ul>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone">
					</div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				{% comment %}<li class="sidebar-search-wrapper">
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search" action="extra_search.html" method="POST">
						<div class="form-container">
							<div class="input-box">
								<a href="javascript:;" class="remove">
								</a>
								<input type="text" placeholder="Search...">
								<input type="button" class="submit" value=" ">
							</div>
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>{% endcomment %}
				<li class="start">
					<a href="{{APPURL}}index">
						<i class="fa fa-home"></i>
						<span class="title">首页</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-shopping-cart"></i>
						<span class="title">商城</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li><a href="{{MANAGEURL}}goods/"> <i class="fa fa-gift"></i> 商品管理</a></li>
						<li><a href="{{MANAGEURL}}category/"> <i class="fa fa-sitemap"></i> 分类管理</a></li>
					</ul>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-user"></i>
						<span class="title">用户管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li><a href="{{MANAGEURL}}user/"><i class="fa fa-group"></i> 用户列表 </a></li>
					</ul>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-truck"></i>
						<span class="title">运营管理</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li><a href="{{MANAGEURL}}operation/carousel/">首页百叶窗</a></li>
						<li><a href="{{MANAGEURL}}operation/recomment/">首页推荐商品</a></li>
						<li><a href="{{MANAGEURL}}operation/navcat/">导航栏常驻分类</a></li>
						<li><a href="{{MANAGEURL}}operation/indexadvert/">首页轮播广告</a></li>
						<li><a href="{{MANAGEURL}}operation/footeradvert/">底部广告列表</a></li>
						<li><a href="{{MANAGEURL}}operation/listbanner/">列表页Banner</a></li>
						<li><a href="{{MANAGEURL}}operation/uploadimg/">上传图片</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="fa fa-th"></i>
						<span class="title">统计分析</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li><a href="{{MANAGEURL}}statistic/hotest">最热商品</a></li>
					</ul>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN STYLE CUSTOMIZER -->
			<div class="theme-panel hidden-xs hidden-sm">
				<div class="toggler">
				</div>
				<div class="toggler-close">
				</div>
				<div class="theme-options">
					<div class="theme-option theme-colors clearfix">
						<span>主题颜色</span>
						<ul>
							<li class="color-black current color-default" data-style="default"></li>
							<li class="color-blue" data-style="blue"></li>
							<!-- <li class="color-brown" data-style="brown"></li>
							<li class="color-purple" data-style="purple"></li> -->
							<li class="color-grey" data-style="grey"></li>
							<li class="color-white color-light" data-style="light"></li>
						</ul>
					</div>
					<div class="theme-option">
						<span>布局</span>
						<select class="layout-option form-control input-small">
							<option value="fluid" selected="selected">流动</option>
							<option value="boxed">盒状</option>
						</select>
					</div>
					<div class="theme-option">
						<span>头部</span>
						<select class="header-option form-control input-small">
							<option value="fixed" selected="selected">固定</option>
							<option value="default">默认</option>
						</select>
					</div>
					<div class="theme-option">
						<span>侧栏</span>
						<select class="sidebar-option form-control input-small">
							<option value="fixed">固定</option>
							<option value="default" selected="selected">默认</option>
						</select>
					</div>
					<div class="theme-option">
						<span>侧栏位置</span>
						<select class="sidebar-pos-option form-control input-small">
							<option value="left" selected="selected">左边</option>
							<option value="right">右边</option>
						</select>
					</div>
					<div class="theme-option">
						<span>底部</span>
						<select class="footer-option form-control input-small">
							<option value="fixed">固定</option>
							<option value="default" selected="selected">默认</option>
						</select>
					</div>
				</div>
			</div>
			<!-- END STYLE CUSTOMIZER -->
			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">{% block page_title %}{% endblock %}<small>{% block page_subtitle %}{% endblock %}</small></h3>
					<ul class="page-breadcrumb breadcrumb">
						<li class="btn-group">
							<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
							<span>
								Actions
							</span>
							<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
						{% block breadcrumb %}
						<li>
							<i class="fa fa-home"></i>
							<a href="#">后台管理</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">{{handler.pagetitle}}</a>
						</li>
						{% endblock %}
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				{% block content %}{% endblock %}
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
	<div class="footer-inner">
		 2017 &copy; Metronic by keenthemes.
	</div>
	<div class="footer-tools">
		<span class="go-top">
			<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>
<!-- END FOOTER -->
<div class="hidden">
	<img src="{{APPSTATIC}}admin/img/loading-spinner-grey.gif" class="loadding">
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
   <script src="{{APPSTATIC}}plugins/respond.min.js"></script>
   <script src="{{APPSTATIC}}plugins/excanvas.min.js"></script> 
   <![endif]-->
<script src="{{STATIC}}js/jquery-1.11.2.min.js"></script>
<!-- <script src="assets/plugins/jquery-migrate-1.2.1.min.js"></script> -->
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<!-- <script src="{{APPSTATIC}}plugins/jquery-ui/jquery-ui.min.js"></script> -->
<script src="{{STATIC}}js/bootstrap.min.js"></script>
<script src="{{APPSTATIC}}plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="{{APPSTATIC}}plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{APPSTATIC}}plugins/jquery.blockui.min.js"></script>
<script src="{{APPSTATIC}}plugins/jquery.cokie.min.js"></script>
<script src="{{APPSTATIC}}plugins/uniform/jquery.uniform.min.js"></script>
<!-- END CORE PLUGINS -->
<script src="{{APPSTATIC}}admin/js/core/app.js"></script>
<script>
      jQuery(document).ready(function() {    
         App.init();
      });
   </script>
{% block js %}{% endblock %}
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>