{% extends "../base.html" %}
{% block title %}编辑商品信息{% endblock %}
{% block main %}
<ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li><a href="">Store</a></li>
    <li class="active">编辑商品信息</li>
</ul>
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <h1>编辑商品信息</h1>
    <!-- BEGIN CHECKOUT PAGE -->
    <div class="panel-group checkout-page accordion scrollable" id="checkout-page">
      <!-- BEGIN CHECKOUT -->
      <div id="step1" class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#checkout-page" href="#checkout-content" class="accordion-toggle">
              Step 1: 基本信息
            </a>
          </h2>
        </div>
        <div id="checkout-content" class="panel-collapse collapse in">
          <form method="post" id="form">
            <div class="panel-body row">
              <h3 class="col-md-12">填写商品信息</h3>
              <div class="col-md-6 col-sm-6">
                  {% include 'useful/form.html' with nosubmit=True %}
                  <div id="images"></div>
              </div>
              <div class="col-md-6 col-sm-6 form-right">
                <div class="alert alert-danger alert-dismissible fade in hidden">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <strong>请上传图片</strong>
                </div>
                <p class="help-block">编辑商品信息后要审核通过后才能显示哦</p>
                <div class="form-group">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-parent="#checkout-page" data-target="#step2-content">下一步</button>
                  <button class="btn btn-primary" type="submit">提交</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="step2" class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#checkout-page" href="#step2-content" class="accordion-toggle">
              Step 2: 商品图片
            </a>
          </h2>
        </div>
        <div id="step2-content" class="panel-collapse collapse">
          <div class="panel-body row">
            <form id="fileupload" method="POST" enctype="multipart/form-data">
              <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
              <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                  <!-- The fileinput-button span is used to style the file input field as button -->
                  <label class="btn green fileinput-button">
                    <i class="fa fa-plus"></i>
                    <span>添加图片</span>
                    <input class="hidden" type="file" name="file" accept="image/*" multiple>
                  </label>
                  <button type="submit" class="btn blue start">
                    <i class="fa fa-upload"></i><span>开始上传</span>
                  </button>
                  <button type="reset" class="btn warning cancel">
                    <i class="fa fa-ban-circle"></i><span>取消上传</span>
                  </button>
                  <!-- The global file processing state -->
                  <span class="fileupload-process"></span>
                </div>
                <!-- The global progress information -->
                <div class="col-lg-5 fileupload-progress fade">
                  <!-- The global progress bar -->
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                  </div>
                  <!-- The extended global progress information -->
                  <div class="progress-extended">&nbsp;</div>
                </div>
              </div>
              <!-- The table listing the files available for upload/download -->
              <table role="presentation" class="table table-striped clearfix">
                <tbody class="files"></tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
{% endblock %}

{% block css %}{{block.super}}
<!-- <link href="{{APPSTATIC}}plugins/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet"/> -->

{% endblock %}

{% block js %}{{block.super}}
{% verbatim %}
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-upload fade">
          <td>
              <span class="preview"></span>
          </td>
          <td>
              <p class="name">{%=file.name%}</p>
              {% if (file.error) { %}
                  <div><span class="label label-danger">Error</span> {%=file.error%}</div>
              {% } %}
          </td>
          <td>
              <p class="size">{%=o.formatFileSize(file.size)%}</p>
              {% if (!o.files.error) { %}
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                  <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                  </div>
              {% } %}
          </td>
          <td>
              {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                  <button class="btn blue start btn-sm">
                      <i class="fa fa-upload"></i>
                      <span>Start</span>
                  </button>
              {% } %}
              {% if (!i) { %}
                  <button class="btn red cancel btn-sm">
                      <i class="fa fa-ban"></i>
                      <span>Cancel</span>
                  </button>
              {% } %}
          </td>
      </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-download fade">
          <td>
              <span class="preview">
                  {% if (file.thumbnailUrl) { %}
                      <a href="{%=file.url%}" title="{%=file.name%}" data-fancybox="images"><img src="{%=file.thumbnailUrl%}"></a>
                  {% } %}
              </span>
          </td>
          <td>
              <p class="name">
                  {% if (file.url) { %}
                      <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}">{%=file.name%}</a>
                  {% } else { %}
                      <span>{%=file.name%}</span>
                  {% } %}
              </p>
              {% if (file.error) { %}
                  <div><span class="label label-danger">Error</span> {%=file.error%}</div>
              {% } %}
          </td>
          <td>
              <span class="size">{%=o.formatFileSize(file.size)%}</span>
          </td>
          <td>
              <div class="btn-group btn-group-sm btn-group-solid">
              {% if (file.deleteUrl) { %}
                  <a href="{%=file.url%}" class="btn blue btn-view" data-fancybox><i class="fa fa-eye"></i>Zoom</a>
                  <button class="btn red delete btn-sm" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                      <i class="fa fa-trash-o"></i>
                      <span>Delete</span>
                  </button>
              {% } else { %}
                  <button class="btn yellow cancel btn-sm">
                      <i class="fa fa-ban"></i>
                      <span>Cancel</span>
                  </button>
              {% } %}
              </div>
          </td>
      </tr>
  {% } %}
</script>
{% endverbatim %}
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/vendor/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/vendor/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
<!-- blueimp Gallery script -->
<!-- <script src="{{APPSTATIC}}plugins/blueimp-gallery/jquery.blueimp-gallery.min.js"></script> -->
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/jquery.fileupload-image.js"></script>
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="{{APPSTATIC}}plugins/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
<script src="{{APPSTATIC}}plugins/zoom/jquery.zoom.min.js"></script>
<script>
  $(function () {
    // Initialize the jQuery File Upload widget:
    var $fileupload = $('#fileupload');
    var $images = $('#images');


    window.onbeforeunload = function test(){
        return "信息未发布，确定要离开吗";
    };

    // $('#step1 .collapse').collapse('show');
    $('.form-right').prepend($("#id_desc_detail").parent()).prepend($("#id_desc").parent());
    $('#id_sdtype').addClass('list-inline');

    $fileupload.fileupload({
        disableImageResize: false,
        autoUpload: false,
        // singleFileUploads: false,
        // Uncomment the following to send cross-domain cookies:
        //xhrFields: {withCredentials: true},
        url: "{{upload_url}}",
        disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
        maxFileSize: 5000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,

        completed: function (e, data) {
          var files = data.result.files;
          for (var i = 0; i < files.length; i++) {
            var id = files[i].id;
            $images.append($('<input type="hidden" name="images">').val(id));
          }
        },
        destroyed: function(e, data){
          var id = /id=(\d+)/.exec(data.url)[1];
          $images.find('input').each(function(){
            var $this = $(this);
            if ($this.val() == id) {
              $this.remove();
            }
          });
        }
    });

    $("#form").submit(function(){
      if (!this.images) {
        var $alert = $(".alert.hidden");
        if ($alert.next('.alert').length == 0) {
          $alert.after($alert.clone().removeClass('hidden'));
        }
        return false;
      }
    });

    {% if images %}
      $fileupload.fileupload('option', 'done').call($fileupload, $.Event('done'), {
      result: {{images|safe}}
    });
    {% endif %}
  });
</script>
{% endblock %}