{% extends "../base.html" %}
{% block content %}
  <div class="col-md-12">
      <div class="portlet box blue">
          <div class="portlet-title">
              <div class="caption">
                  <i class="fa fa-comments"></i>{{handler.pagetitle}}管理
              </div>
              <div class="tools">
                  <a href="javascript:;" class="collapse"></a>
                  <a href="javascript:;" class="reload"></a>
                  <a href="javascript:;" class="remove"></a>
              </div>
          </div>
          <div class="portlet-body">
              <div class="table-responsive container-fluid">
                {% if data %}
                <table class="table table-striped table-hover dataTable" id="sample_editable_1">
                  <thead>
                    <tr>
                      <th>图片</th>
                      <th>描述</th>
                      <th>价格</th>
                      <th>状态</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in data %}
                    <tr>
                      <td class="goods-image">
                        <a href="{{item.firstimg}}" data-fancybox="{{item.id}}" data-caption="{{item.name}}" title="点击浏览大图">
                          <img src="{{item.firstimg}}" alt="{{item.name}}">
                        </a>
                        {% for img in item.otherimg %}
                        <a href="{{img}}" data-fancybox="{{item.id}}" data-caption="{{item.name}}"></a>
                        {% endfor %}
                      </td>
                      <td class="goods-description">
                        <h3>
                          <a href="{{APPURL}}ecommerce/goods/detail?id={{item.id}}">{{item.name}}</a>
                        </h3>
                        <p>{{item.desc}}</p>
                      </td>
                      <td class="goods-price">
                        <strong>
                          <span>￥</span>
                          {{item.price}}
                        </strong>
                      </td>
                      <td>{{item.get_status_display}}</td>
                      <td>
                        <div class="btn-group btn-group-xs btn-group-solid">
                          <a href="verify?status=1&id={{item.id}}" class="btn green">
                            <i class="fa fa-check-square-o"></i> 审核通过
                          </a>
                          <a href="verify?status=3&id={{item.id}}" class="btn red">
                            <i class="fa fa-times"></i> 不通过
                          </a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <div>没有数据</div>
                {% endif %}
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block css %} {{block.super}}
  <style>
    .avatar {
        width: 80px;
    }
    .goods-image img {
      width: 75px;
    }
    .goods-description h3 {
      font: 300 14px 'Open Sans', sans-serif;
      text-transform: inherit;
      padding: 0;
      margin: 0 0 5px;
    }
    .goods-description p {
      margin-bottom: 2px;
    }
    </style>
  <link href="{{APPSTATIC}}plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">
{% endblock %}

{% block js %} {{block.super}}
  <script src="{{APPSTATIC}}plugins/fancybox/jquery.fancybox.min.js"></script>
{% endblock %}