/* here you can put your own css to customize and override the theme */
.bx-default-pager {
	display: none;
}

#fileupload .preview img {
    max-width: 200px;
    max-height: 200px;
}
#fileupload td {
    vertical-align: middle;
}
#fileupload .name,
#fileupload .size {
    font-size: 16px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #fff;
    border-color: inherit;
}
.product-page,
.product-item {
    overflow: hidden;
}
.sticker-text {
    position: absolute;
    top: 10px;
    color: #fff;
    width: 100px;
    line-height: 18px;
    text-align: center;
    z-index: 10;
}
.sticker-right {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    right: -30px;
}

.sticker-left {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    left: -30px;
}

.sticker-demand {
    background-color: #E13E45;
}

.shop-index-carousel #myCarousel {
    height: 100%;
}

.shop-index-carousel .content-slider {
    height: 385px;
    background: #fff;
    margin-top: 35px
}
